.divider {
    margin: 10px 0px;
}

.full-width {
    width: 100%;
}

.simple-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    margin: 0 5px;
}

.error-message {
    color: red;
}