<h2 mat-dialog-title>Choose product to which replace</h2>
<mat-dialog-content>
    <div class="default-dialog">
        <pac-data-table
            [responseData]="dataSource$ | async"
            [selectedRows]="selection"
        ></pac-data-table>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex-container">
        <div class="centered-container">
            <button
                [disabled]="!(selection.selected?.length > 0)"
                mat-flat-button color="primary"
                [mat-dialog-close]="selection.selected[0]?.id"
                >
                Submit
            </button>
        </div>

        <button mat-stroked-button mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions>